{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>GALE Everest</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="shortcut icon" type="image/png" href="https://www.galepartners.com/static/imgs/gale-favicon.png">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% block js %} {% endblock js %}
        {% block css %} {% endblock css %}
        {% block extrahead %} {% endblock extrahead %}
    </head>
    <body>
        {% block header %} {% endblock header%}
        <div class="container">
            {% block body %} {% endblock body %}
        </div>
        {% block footer %} {% endblock footer%}
    </body>
</html>
