{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Everest Deal Tool</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user:logout' %}"><span class="glyphicon glyphicon-log-in"></span> logout</a></li>
        </ul>
    </div>
</nav>
{% endblock header%}

{% block body %}
    <h1 class="home_text" >Hello {{request.user.get_full_name }}!</h1>
    <div class="container-fluid project-lookup-container">
        <div class="row">
            <div class="col-md-2 home_text">
                Project ID
            </div>
            <div class="ui-widget custom_autocomplete">
                <input id="tags">
            </div>
        </div>
        {{data}}
    </div>
{% endblock body %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock js%}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock css%}
