{% extends "base.html" %}
{% load staticfiles %}

{% block body_outside_container %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Everest Deal Tool</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
{% endblock body_outside_container%}

{% block body %}
    <h1>Hello {{request.user.get_full_name }}!</h1>
{% endblock body %}
